<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All notifications</h2>
        </div>
    </div>
    <br /><br />
    <table id="tblNotifications" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Course</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
        <script src="~/js/Notification.js"></script>
} 