@using Utilities;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRA_Infoeduka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PRA_Infoeduka.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/algebraLogo.png" width="100" height="50" class="mx-3" />
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if(User.Identity.IsAuthenticated){
                        @if (User.IsInRole(Constants.ADMIN_ROLE))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Professor" asp-action="AllProfessors">Professors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Course" asp-action="AllCourses">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminNotification" asp-action="AllNotifications">All notifications</a>
                                </li>
                            </ul>
                        }

                        @if (User.IsInRole(Constants.PROFESSOR_ROLE))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Professor" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Professor" asp-controller="ProfessorCourse" asp-action="AllProfessorCourses">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Professor" asp-controller="MyNotification" asp-action="AllMyNotifications">My notifications</a>
                                </li>
                            </ul>
                        }
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-primary">
        <div class="container" style="height: 80px">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
